body {
background: #fafafa;    
}

/********** Home Container General Styles - Mobile First **********/
#home {
    background: #fafafa;
    color: #4a4a4a;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    padding: 0;
}

.header, .navigation {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    align-self: center;
    width: 90%;
}

.navigation li {
    margin: 0 0 3% 0;
    background: #fff;
}

.navigation li, a {
    text-decoration: none;
    width: 100%;
    padding: 2% 0 2% 0;
}

.navigation a {
    padding: 0 25% 0 25%;
    background: #fff;
}

.navigation a:hover {
    color: #9a9a9a;
}

.profile p {
    padding-bottom: 2%;
    font-weight: 300;
}

.header {
    width: 100%;
    margin: 0 auto;
}

img {
    margin-top: 10%;
    max-width: 75%;
}

/********** Skills Container General Styles - Mobile First **********/
#skills {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#skills ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

#skills li {
    padding: 1px 0 1px 0;
}

/********** Portfolio Container General Styles - Mobile First **********/
#portfolio {
    background: #fafafa;
    color: #4a4a4a;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 5% 0 0 0;
}

.portfolioItem ul {
    list-style-type: none;
    background: #fff;
    width: auto;
    margin: 0 auto;
    padding: 0 5% 2% 5%;
}

.portfolioItem img {
    min-width: 100%;
    padding: 0 0 2% 0;
}

.portfolioItem p {
    color: #4a4a4a;
    font-family: sans-serif;
    font-weight: 300;
}

.portfolioItem h2 {
    font-weight: 500;
    padding: 5% 0 0 0;
    margin: 0 auto;
}

/********** Contact Container General Styles - Mobile First **********/
#contact {
    background: #fafafa;
    color: #4a4a4a;
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    border-bottom: solid .5px #4a4a4a;
}

.contactInfo ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0 0 2% 0;
}

.contactInfo li {
    margin-top: 5px;
    font-weight: 300;
}

.contactInfo a {
    text-decoration: none;
    padding: 0 5% 0 5%;
    font-weight: 500;
}

#contact, p {
    font-weight: 300;
}

#contact, h2 {
    font-weight: 500;
}

#contact, h3 {
    font-weight: 400;
}

/********** Footer Container General Styles - Mobile First **********/
.footerLarge {
    display: none;
}

.footerMobile {
    background: #fafafa;
    color: #4a4a4a;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 5% 0 5% 0;
    clear: both;
}

.footerMobile p, a {
    color: #4a4a4a;
    display: inline;
    padding: 5% 2%;
    margin: 0;
    font-weight: 500;
}

.footerMobile a:hover {
    color: #9a9a9a;
}

/********** Media Queries **********/

@media (min-width: 768px) {
    
    /********** Home Container General Styles - >768px **********/
    .navigation {
        margin: 0;
        padding: 0;
    }

    .navigation ul {
        list-style-type: none;
        padding: 0;
    }

    .navigation li {
        display: inline;
        margin: 0;
    }

    .navigation li, a {
        text-decoration: none;
        color: #4a4a4a;
        padding: 0;
    }

    .navigation a {
        padding: 0 2.5% 0 2.5%;
        background: #fafafa;
    }
    
    .profile {
        display: flex;
        flex-direction: row;
        margin-top: 5%;
    }
    
    .profile img {
        order: 2;
        padding: 0;
        margin: 0 5% 0 2%;
    }
    
    .profile p {
        margin: 0 2% 0 5%;
        padding: 0;
        font-weight: 300;
    }

    /********** Skills Container General Styles - Mobile First **********/
    #skills {
        padding: 5% 0;
    }
    
    #skills ul {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        list-style-type: none;
        width: 96%;
    }
    
    #skills li {
        padding: 2% 2%;
        margin: 0 auto;
        text-align: center;
    }
    
    /********** Portfolio Container General Styles - >768px **********/
    #portfolio {
        overflow: hidden;
        background: #fff;
        color: #4a4a4a;
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        font-family: sans-serif;
        margin: 0 auto;
        padding: 5% 0 5% 0;
    }

    .portfolioItem ul {
        margin-left: 2%;
    }

    .portfolioItem li {
        float: left;
        padding-right: 2%;
        width: 48%;
    }
    
    /********** Contact Container General Styles - >768px **********/
    #contact p {
        width: 75%;
        padding: 0 2% 2% 2%;
        margin: 0 auto;
        text-align: center;
    }
    
    /********** Footer Container General Styles - >768px **********/
    .footerMobile {
        display: none;
    }
    
    .footerLarge {
        background: #fafafa;
        width: 100%;
        font-family: sans-serif;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    
    .footerLarge .navigation {
        width: 80%;
        padding: 0;
        margin: 0 auto;
    }
    
    .footerLarge p {
        width: 15%;
        padding: 0 0 0 5%;
        text-align: center;
    }
    
    .footerLarge ul {
        padding: 0;
    }
    
    .footerLarge li {
        background: #fafafa;
    }
    
    .footerLarge a {
        width: auto;
        display: inline;
        color: #4a4a4a;
        background: #fafafa;
        padding: 0 0 0 10%;
        font-weight: 900;
    }

    .footerLarge a:hover {
        color: #9a9a9a;
    }

}

@media (min-width: 1024px) {
    
    /********** Home Container General Styles - >1024px **********/
    .header .navigation {
        display: flex;
        flex-direction: row;
    }
    
    .header {
        height: auto;
        width: 30%;
        margin: 0 auto;
        padding: 0;
        float: left;
    }
    
    .navigation {
        height: auto;
        width: auto;
        margin: 0 auto;
        padding: 25px 0 0 0%;
    }
    
    .navigation li {
        margin: 0 0 0 5%;
    }
    
    #profile, p {
        text-align: left;
    }
    
    /********** Portfolio Container General Styles - >1024px **********/
    #portfolio {
        background: #fff;
        color: #4a4a4a;
        width: 100%;
        height: auto;
        text-align: center;
        font-family: sans-serif;
        margin: 2% 0;
        padding: 0;
    }
    
    .portfolioItem {
        margin: 0 auto;
        padding: 0;
    }

    .portfolioItem ul {
        background: #fff;
        margin: 0 auto;
        padding: 0;
    }

    .portfolioItem li {
        width: 31.3%;
        margin: 0 auto;
        padding: 0 1% 0 1%;
    }
    
    /********** Contact Container General Styles - >1024px **********/
    
    /********** Footer Container General Styles - >1024px **********/
    
    
}