/********** Home Container General Styles - Mobile First **********/
#home {
    background: #fafafa;
    color: #4a4a4a;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
    padding: 0;
}

.header, .navigation {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    align-self: center;
    width: 90%;
}

.navigation li {
    margin: 0 0 3% 0;
    background: #fff;
}

.navigation li, a {
    text-decoration: none;
    color: #4a4a4a;
    width: 100%;
    padding: 2% 0 2% 0;
}

.navigation a {
    padding: 0 25% 0 25%;
    background: #fff;
}

.navigation a:hover {
    color: #9a9a9a;
}

#home p {
    color: #7f7f7f;
    font-family: sans-serif;
    padding: 5% 5%;
}

#home h1, h2 {
    margin: 0;
    padding: 5% 0;
}

.header {
    width: 100%;
    margin: 0 auto;
}

img {
    margin-top: 10%;
    max-width: 75%;
}

/********** Portfolio Container General Styles - Mobile First **********/
#portfolio {
    background: #ffffff;
    color: #4a4a4a;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 5% 0 5% 0;
}

.portfolioItem ul {
    list-style-type: none;
    background: #ffffff;
    width: auto;
    margin: 0 auto;
    padding: 0 5% 0 5%;
}

.portfolioItem li {
    background: #ffffff;
}

.portfolioItem img {
    min-width: 100%;
}

#portfolio p {
    color: #7f7f7f;
    font-family: sans-serif;
    padding: 0 5%;
    font-size: 1.2em;
    font-weight: 300;
}

#portfolio h2 {
    margin: 10% 10%;
    padding: 0;
    font-weight: 500;
}

/********** Contact Container General Styles - Mobile First **********/
#contact {
    background: #fafafa;
    color: #4a4a4a;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 5% 0 5% 0;
    border-bottom: solid 1px #4a4a4a;
    border-width: 75%;
}

.contactInfo ul {
    list-style-type: none;
    background: #fafafa;
    margin: 0 auto;
    padding: 0 5% 0 5%;
}

.contactInfo li {
    margin-top: 5px;
    background: #fafafa;
    padding: 1%;
    font-weight: 300;
}

.contactInfo a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 1em;
    background: #fafafa;
    padding: 0 5% 0 5%;
    font-weight: 400;
}

#contact p {
    color: #7f7f7f;
    font-family: sans-serif;
    padding: 5% 5%;
    font-weight: 300;
}

#contact h2 {
    margin: 0;
    padding: 5% 0;
    font-weight: 400;
}

#contact h3 {
    margin: 0;
    padding: 5% 0;
    font-weight: 300;
}

/********** Footer Container General Styles - Mobile First **********/
.footerLarge {
    display: none;
}

.footerMobile {
    background: #fafafa;
    color: #4a4a4a;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 5% 0 5% 0;
}

.footerMobile p, a {
    color: #4a4a4a;
    background: #fafafa;
    display: inline;
    padding: 5% 2%;
    margin: 0;
    font-weight: 900;
}

.footerMobile a:hover {
    color: #9a9a9a;
}

/********** Media Queries **********/

@media (min-width: 768px) {
    
    /********** Home Container General Styles - >768px **********/
    .navigation {
        margin: 0;
        padding: 0;
    }

    .navigation ul {
        list-style-type: none;
        padding: 0;
    }

    .navigation li {
        display: inline;
        margin: 0;
    }

    .navigation li, a {
        text-decoration: none;
        color: #4a4a4a;
        padding: 0;
    }

    .navigation a {
        padding: 0 2.5% 0 2.5%;
        background: #fafafa;
    }
    
    .profile {
        display: flex;
        flex-direction: row;
        margin-top: 5%;
    }
    
    .profile img {
        order: 2;
        padding: 0;
        margin: 0 5% 0 0;
    }
    
    .profile p {
        margin: 0 0 0 5%;
        padding: 0;
    }


    /********** Portfolio Container General Styles - >768px **********/
    #portfolio {
        background: #fff;
        color: #4a4a4a;
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        font-family: sans-serif;
        margin: 0 auto;
        padding: 5% 0 5% 0;
    }

    .portfolioItem ul {
        overflow: hidden;
        margin-left: 2%;
    }

    .portfolioItem li {
        float: left;
        padding-right: 2%;
        width: 48%;
    }
    
    /********** Contact Container General Styles - >768px **********/
    #contact p {
        width: 50%;
        padding: 0 0 10% 0;
        margin: 0 auto;
        text-align: center;
    }
    
    /********** Footer Container General Styles - >768px **********/
    .footerMobile {
        display: none;
    }
    
    .footerLarge {
    background: #fafafa;
    width: 100%;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0 0 5% 0;
    display: flex;
    flex-direction: row;
    text-align: center
    }
    
    .footerLarge .navigation {
        width: 50%;
        padding: 0;
        margin: 0 auto;
    }
    
    .footerLarge p {
        width: auto;
        padding: 0 0 0 10%;
        text-align: center;
    }
    
    .footerLarge a {
        width: auto;
        display: inline;
        color: #4a4a4a;
        background: #fafafa;
        padding: 0 5% 0 0;
        margin: 0;
        font-weight: 900;
    }

    .footerLarge a:hover {
        color: #9a9a9a;
    }

}

@media (min-width: 1024px) {
    
    /********** Home Container General Styles - >1024px **********/
    
    /********** Portfolio Container General Styles - >1024px **********/
    #portfolio {
        background: #fff;
        color: #4a4a4a;
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        font-family: sans-serif;
        margin: 0 auto;
        padding: 5% 0 5% 0;
    }

    .portfolioItem ul {
        overflow: hidden;
        margin-left: 2%;
    }

    .portfolioItem li {
        float: left;
        padding-right: 2%;
        width: 48%;
    }
    
    /********** Contact Container General Styles - >1024px **********/
    
    /********** Footer Container General Styles - >1024px **********/
    
}